.theme--light.application{
  background: #F3F3F3 !important;
  font-family: 'Roboto', sans-serif;
  color:#313842;
}
/*.primary{*/
  /*background-color:#313842 !important;*/
  /*color: #F3F3F3 !important;*/
/*}*/


.v-breadcrumbs li a{
  font-size: 25px;
}
.v-label{
  /*font-weight: 900;*/
}
.fs-16{
  font-size:16px !important;
}
.v-select__selections{
  overflow: hidden !important;
}
#app{
  /*position: absolute;*/
  /*top:0px;*/
  /*bottom: 0px;*/
  /*left: 0px;*/
  /*right: 0px;*/
}